flask
flask-pymongo
flask-bcrypt
flask-cors
flask-socketio
PyJWT
python-dotenv
dnspython
cloudinary
eventlet
openai-whisper
torch 
torchvision
torchaudio
gTTS
opencv-python
albumentations
torchinfo
rich